img{
    width: 100px;
    aspect-ratio: 1;
    border: 2px solid var(--primary_color);
    padding: .2rem;
    border-radius: 50%;
}
.underline{
    width: 90%;
    justify-self: center;
    height: 2px;
    background-color: var(--secondary_color);
    opacity: .5;
}
.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 2px;
    left: 85px;
    cursor: pointer;
    background-color: var(--primary_color);
    color: var(--accent_color);
    border-radius: 50%;
    padding: 4px;
}
.container_profile{
    width: 500px;
    height: 90vh;
    justify-self: center;   
    background-color:var(--bg_color);
    border-radius: 25px;
    padding: 0 1rem;
}
.container_profile  h1{
    padding: .5rem ;
    margin: 0;
}
.container_profile p{
    margin:  1.5rem 1rem;
    padding: 0;
    text-wrap: wrap;
    color: var(--secondary_color);
}
.personal_detail{
    display: flex;
    gap: 1.5rem;
    position: relative;
    margin: 1rem ;
}
.Name_email {
    margin: 1rem;
    h2{
    font-size: medium;
    font-weight: 200;
    margin: .5rem;
    }
}
@media (max-width: 500px){
    .container_profile{
        width: 85vw;
        h1{
            font-size:x-large ;
        }
    }
    .Name_email{
        margin: 1rem 0;
    }
    .personal_detail{
        gap: .5rem;
    }

}